@use "../../foundation/mixins" as min;
@use "../../foundation/variables" as var;

.p-mainVisual {
    position: relative;
    height: 611px;

    @include min.breakpoint(tablet) {
        height: 688px;
    }
    
    .mainVisualContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 20;
        top: 100px;
        left: 5%;
        bottom: 0;

        @include min.breakpoint(tablet) {
            top: 96px;
        }

        @include min.breakpoint(pc) {
            left: 50%;
            transform: translateX(-50%);
            max-width: 1016px;
            top: 120px
        }

        h1 {
            margin-bottom: 32px;
            line-height: 1.15;
            letter-spacing: 0.02em;
            white-space:nowrap;
            font-weight: 900;

            @include min.breakpoint(tablet) {
                margin-bottom: 20px;
            }
        }

        .catch {
            font-size: 19px;
            color: var.$main-color;
            font-weight: bold; 
            margin-left: 3%;

            @include min.breakpoint(tablet) {
                font-size: 26px;
            } 

            @include min.breakpoint(pc) {
                font-size: 32px;
            } 
            
            p {
                display: inline-block;
                background: var.$white;
                padding: 9px 20px  7px;
                transform: skewX(-30deg);
                box-shadow: 3px 3px var.$main-color;

                @include min.breakpoint(tablet) {
                    box-shadow: 5px 5px var.$main-color;
                }

                &:first-child {
                    margin-bottom: 12px;

                    @include min.breakpoint(tablet) {
                        margin-bottom: 16px;
                    }
                }
                
                span {
                    transform: skewX(30deg);
                    display: block;
                }
            }
        }

        .topNews {

            display: flex;
            flex-direction: column;
            margin: 100px 0 26px 0;
            
            @include min.breakpoint(tablet) {
                background: var.$white;
                flex-direction: row;
                height: 64px;
                justify-content: space-between;
                max-width: 1016px;
                border: 2px solid var.$main-color;
                margin: 155px 0 16px 0;
            } 

            @include min.breakpoint(pc) {
                margin-top: 90px;
                bottom: 0;
            }
            
            .newsBlock {

                height: 24px;
                display: flex;
                color: var.$white;
                line-height: 1.8;
                text-align: center;
                font-size: 14px;
                font-family: "Lato-Regular"; 
                position: relative;

                @include min.breakpoint(tablet) {
                    height: 100%;
                    font-size: 16px;
                    line-height: 4;
                    flex: 0 0 175px;
                }

                .newsTitle {
                    width: 60px;
                    background: var.$main-color;
                    display: inline-block; 

                    @include min.breakpoint(tablet) {
                        width: 125px;
                    }
                }

                .titleBlock {
                    width: 14px;
                    display: inline-block;
                    background: var.$main-color;
                    clip-path: polygon(0 0, 100% 100%, 0 100%);

                    @include min.breakpoint(tablet) {
                        height: 64px;
                        width: 51px;
                        clip-path: polygon(0 0, 100% 0, 0 100%);
                        position: absolute;
                        left: 124px;
                        top: -1px;
                    }
                }
            }

            .newsContents {
                display: flex;
                background: var.$white;
                font-size: 14px;
                font-family: "NotoSansJP-Regular";
                height: 48px;
                align-items: center;
                position: relative;
                z-index: 5;
                border: 2px solid var.$main-color;
                padding: 0 8px;
                
                @include min.breakpoint(tablet) {
                    margin-bottom: 16px;
                    height: 100%;
                    display: flex;
                    flex: 1 1 auto;
                    border: unset;
                    padding: unset;
                    font-size: 16px;
                }

                .newsDate {

                    @include min.breakpoint(tablet) {
                        flex: 0 0 100px;
                        margin-left: 24px;
                    }
                }

                .newsTag {
                    font-size: 12px;
                    padding: 2px 4px;
                    background: #B8614B;
                    border-radius: 6px;
                    margin: 0 4px;
                    color: var.$white;
                    text-align: center;

                    @include min.breakpoint(tablet) {
                        flex: 0 0 80px;
                        margin-right: 24px;
                    }
                }

                .text {
                    
                    @include min.breakpoint(tablet) {
                        flex: 1 1 auto;
                    }
                }

                .moreBlock {

                    display: none;

                    @include min.breakpoint(tablet) {

                        flex: 0 0 130px;
                        display: flex;
                        position: absolute;
                        right: 0;
                        z-index: 100;
                    }

                    .moreLeft {
                        width: 51px;
                        background: var.$main-color;
                        height: 64px;
                        clip-path: polygon(100% 0, 100% 100%, 0 100%);
                        border-right: 1px solid var.$main-color;
                        box-sizing: border-box;
                        border-right: 1px solid var.$main-color;
                        position: absolute;
                        left: -49px;
                    }
                    
                    .newsMore {

                        @include min.breakpoint(tablet) {
                            
                            background: var.$main-color;
                            width: 81px;
                            height: 64px;
                            position: relative;
                            box-sizing: border-box;
                            border: 1px solid var.$main-color;
                            z-index: 100;

                            span {
                                display: inline-block;
                                left: 50%;
                                width: 30px;
                                height: 2px;
                                top: 50%;
                                background: var.$white;
                                position: absolute;
                                transform: translateY(-50%);
                                transform: translateX(-50%);

                                &::before {
                                    display: block;
                                    content: "";
                                    width: 10px;
                                    height: 2px;
                                    background: var.$white;
                                    position: absolute;
                                    transform: rotate(45deg);
                                    right: 0;
                                    top:-4px;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}