@use "../../foundation/mixins" as min;
@use "../../foundation/variables" as var;

.c-loading {
    display: block;
    height: 100vh;
    width: 100%;
    background: var.$black;
    position: fixed;
    z-index: 999;
    
    picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: loding ease-out 3s 0s infinite;

        /* ふわっとアニメーション */
        @keyframes loding {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1.5);

                @include min.breakpoint(tablet) {
                    transform: translate(-50%, -50%) scale(2);
                }
            }
        }
        @include min.breakpoint(tablet) {

            @keyframes loding {

                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(2);
                }
            }
        }
        @include min.breakpoint(pc) {

            @keyframes loding {

                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(3);
                }
            }
        }
        
    }
    &.hide {

        display: none;
    }
}

